html{
    font-size: 90%;
}

/*About me section*/
.about-me article img{
    width: 600px;
    height: auto;
 }

.technologies div{
    flex-direction: row;
    flex-wrap: nowrap;
}
.technologies .git-github{
    align-self: center;
    position: relative;
    left: 0;
}
.hobbies-big-pics{
    top:80px;
}
.websites{
    flex-direction: row;
}

