:root{
    --lightgray: rgb(248, 246, 246);
    --gray: rgb(204, 202, 202);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:'Fjalla One', sans-serif;;
}
body{
    min-width: 320px;
    max-width: 1080px;
    height: auto;
    margin: 0 auto;
}

/*Header*/
.darken{
    width: 100%;
    height: calc(100%);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}
.darken-inactive{
    visibility: hidden;
}
header{
    width: 100%;
    height: auto;
    background-image: url(./assets/cool-white.avif);
    opacity: 2;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.inactive-navbar{
    display: none;
}
header p{
    font-size: 1.8rem;
}
header div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header div p{
    margin-right: 5px;
    font-size: 1.5rem;
}
header div button{
    position: relative;
    bottom: 2.5px;
    width: 20px;
    height: auto;
}
header div button img{
    width: 20px;
    height: auto;
}
.drop-down{
    width: 10px;
    height: auto;
}
header div nav{
    position: absolute;
    display: flex;
    top: 40px;
    flex-direction: column;
    background-color: var(--lightgray);
    border: 1px solid black;
}
header div nav a{
    margin: 10px;
    color: black;
    font-size: 1.3rem;

}

/*Main section*/
/*Picture and name section */
.picture--intro{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-image: url(./assets/cool-white.avif);

}
.title{
    padding: 10px;

}
.title p{
    font-size: 1.7rem;
    color: black;
}
.picture--intro img{
    width: 120px;
    height: auto;
}
h1{
    text-decoration: underline grey;
    text-underline-offset: 10px;
    margin-bottom: 25px;
}

/*About me Section */
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.about-me h1{
    text-align: center;
    color: black;
    font-size: 2rem;
}
.about-me p{
    text-align: center;
    margin-top: 15px;
    font-size: 1.7rem;
    line-height: 30px;
}
.hobby-images{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}
.hobby-images img{
    width: 200px;
    height: auto;
    align-self: center;
    margin-bottom: 25px;
}
.hobby-images img:hover{
    cursor: pointer;
}
.about-me article{
    position: fixed;
    z-index: 10;
    bottom: 250px;
    align-self: center;
    
}
.about-me article img{
    width: 280px;
    height: auto;
 }
.hobbies-inactive{
    display: none;
}
.about-me article .closebtn{
    width: 25px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 20px;
}
.about-me article .closebtn:hover{
    cursor: pointer;
}
.about-me article .closebtn:active{
    background-color: grey;
}

/*What I Offer Section*/
.offer{
    background-color: var(--lightgray);
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
}
.offer h1{
    text-align: center;
    font-size: 2rem;
}
.skills-container{
    width: 250px;
    height: auto;
    background-color: var(--gray);
    display: flex;
    padding: 10px;
    margin-top: 20px;
    align-self: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.skills-container .icon-container{
    width: 30px;
    height: 30px;
    background-color: azure;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.skills-container .icon-container img{
    width: 20px;
    height: auto;
    transform: rotate(-45deg);
}
.skills-description .skill{
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

/*Technologies*/
.technologies {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.technologies h1{
    text-align: center;
    font-size: 2rem;
}
.technologies div{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.technologies div article{
    align-self: center;
    background-color: var(--gray);
    width: 150px;
    height: auto;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.54);
}
.technologies div article:hover{
    background-color: var(--lightgray);
    cursor: pointer;
}

.technologies div article img{
    width: 100px;
    height: auto;
    align-self: center;
}
.technologies div article p{
    margin-top: 10px;
    text-align: center;
    font-size: 1.7rem;
}

/*Technologies Description*/
.tech-description{
    padding: 30px;
    width: 250px;
    height: auto;
    background-color: rgb(248, 246, 246);
    position: fixed;
    border: 2px black solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
    top: 250px;
    z-index: 10;
}
.tech-description div{
    display: inline
}
.tech-description div img{
    width: 150px;
    height: auto;
    position: relative;
    left: 20px;
}
.tech-description div p{
    text-align: center;
}
.inactive-tech-description{
    display: none;
}
.tech-description .closebtn{
    width: 25px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 20px;
}
.tech-description .closebtn:hover{
    cursor: pointer;
}
.tech-description .closebtn:active{
    background-color: grey;
}
/*Portfolio*/
.portfolio{
    background-color: var(--lightgray);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.portfolio h1{
    text-align: center;
    font-size: 2rem
  
}
.websites{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.portfolio article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    width: 230px;
    height: auto;
    background-color: var(--gray);    
    padding: 20px;
    align-self: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.portfolio article:hover{
    cursor: pointer;
    background-color: var(--lightgray);
}
.portfolio article img{
    width: 130px;
    height: auto;
    align-self: center;
}
.portfolio article p{
    text-align: center;
    font-size: 1.8rem;
    line-height: 30px;
}

/* Contact */
.contact{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.contact h1{
    text-align: center;
    font-size: 2rem;
}
.contact div{
    display: flex;
    align-self: center;
    margin-bottom: 25px;

}
.contact div img{
    width: 25px;
    height: auto;
}
